.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: Orange;
    padding: 1em;
    box-shadow: 0 2.5px 4px;
    font-size: 2em;
    margin-bottom: 25;
}
.Links {color: black;}

:hover .Links {color: blue;
        text-decoration: none;}



h1 {text-align: center; color: white}

p {font-size: 2em; float: right}

.me {font-size: x-large;
    display:flex;
    background-color: rgb(61, 137, 204);
    padding: 1em;
    box-shadow: 10px 10px gray; 
    border-radius: 25px;
    text-align: center;
    margin-bottom: 25;
    margin-top: 25;}

.hobbies {text-align:center;
        font-size: xx-large;
        color: black;
        font-style: italic;}

 .hob1 {font-size: x-large;
        color: magenta;}

 .snowboard {height: 300px;
    width: 300px;
    float: right;
    border-radius:50%}

.A1 {display: flex;
    justify-content:space-around;
    background-color: silver;
    padding: 1em;
    border-radius: 25px;
    font: 1.5em sans-serif;
    flex-wrap: wrap;}

.A2 {font-size: 1.5em;}

.M1 {height: 200px;
    width: 200px;}

.Portfolio {font-size: smaller;}

.F1 {height: 200px;}

.Port-img {display: block;
            margin-left: auto;
            margin-right: auto;}

.P1 {color: black;
    font-style: italic;}